<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

</head>
<body>
Este es el head<br>
………………………………………………………………………………………………………………………………………………………………………………<br>
<main style="margin-top: 4em; padding: 2em !important;">