{% include 'site/head.html' %}
{% include 'site/nav.html' %}

        <div class="row justify-content-center align-items-center g-2">
            <div class="col"></div>
            <div class="col">

                {% if mensaje %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{mensaje}}</strong>
                </div>            
                {% endif %}

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Login</h4>
                        <p class="card-text">¡Bienvenido</p>
                        

                            <div class="container">
                                <form action="/login" method="POST">

                                    <div class="mb-3 row">
                                        <label for="login_user" class="col-4 col-form-label">User</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" name="login_user" id="login_user" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="login_pass" class="col-4 col-form-label">Pass</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" name="login_pass" id="login_pass" placeholder="Pass">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="offset-sm-4 col-sm-8">
                                            <button type="submit" class="btn btn-primary">Ingresar</button>
                                        </div>
                                    </div>

                                </form>
                            </div>

                    </div>
                </div>

            </div>
            <div class="col"></div>
        </div>

{% include 'site/footer.html' %}