<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main style="margin:5%;">

        <div class="row justify-content-center align-items-center g-2">
            <div class="col"></div>
            <div class="col">

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Login</h4>
                        <p class="card-text">¡Bienvenido</p>
                        <form action="">
                            <div class="container">
                                <form>
                                    <div class="mb-3 row">
                                        <label for="inputName" class="col-4 col-form-label">User</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" name="login_user" id="login_user" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="inputName" class="col-4 col-form-label">Pass</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" name="login_pass" id="login_pass" placeholder="Pass">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="offset-sm-4 col-sm-8">
                                            <button type="submit" class="btn btn-primary">Ingresar</button>
                                        </div>
                                    </div>
                                </form>
                            </div> 
                        </form>
                    </div>
                </div>

            </div>
            <div class="col"></div>
        </div>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>